.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.signup_wrapper .signup_gender{
  text-align: start;
}
.signup_wrapper .signup_button{
  text-align: end;
}
.signup_wrapper .signup_button button{
  margin-left: 10px;
}
.header{
  text-align: left;
  color: #084657;
  margin-left: 20px;
}
.signup_wrapper{
  max-width: 600px;
  margin: auto;
}
.form_title{
  text-align: left;
  color: rgb(25, 11, 180);
}